<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <!-- moved "vertical-align:middle" style from span to img -->
      <div>
        <a href="/restaurants"><%= image_tag "star.png", :class => "logo" %>
        <span class="main">Melp</span></a>
      </div>
      <span class="logo"></span>
    </header>
    <div class="typewriter">
      <h2>Review a restaurant.</h2>
    </div>
  </body>
</html>
