<header>
  <!-- moved "vertical-align:middle" style from span to img -->
  <div>
    <a href="/restaurants" class="home"><%= image_tag "star.png", :class => "logo", :alt => "home" %>
      <span class="main">Melp</span></a>
  </div>
  <!-- <span class="logo"></span> -->
</header>
<div class="typewriter">
  <h2>Review a restaurant.</h2>
</div>
