<h1>Melp</h1>

<div class="main-container">
  <% @restaurants.each do |restaurant| %>
    <div class="restaurant-container">
      <div class="name-container">
        <%= restaurant.name %>
      </div>
      <a href="<%= "#{restaurant_path(restaurant)}"%>"><div class="image-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Myresluger2.jpg" alt="" class="restaurant-image">
      </div></a>
      <div class="stars-container">
        <% restaurant.reviews.average(:score).to_i.times do %>
          <img src="https://t2.rbxcdn.com/b038a7e9ce0b6d90f4510233d577ae08" class="pentagram">
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Add Restaurant", new_restaurant_path %>
