// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Alegreya', serif;
  background-color: hotpink;
}

h1 {
  text-align: center;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
}

.restaurant-container {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 40px;
}

.restaurant-image {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}

.name-container {
  text-align: center;
}

.stars-container {
  text-align: center;
}

.pentagram {
  height: 20px;
  width: 20px;
}
